{% extends "base.html" %}
{% load static %}
{% block after_css %}
<link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock after_css%}
{% block title %}Poodle{% endblock %}

{% block content %}

<div id="app" v-cloak v-if="adminApproved">

  <input type="hidden" name="server-settings-BASEURL" value="/">
  <input type="hidden" name="server-settings-MEDIA-ENDPOINT" value="{{ MEDIA_URL }}">

  <input type="hidden" name="server-settings-ADMIN-ENDPOINT" value="{% url 'admin:index' %}">
  <input type="hidden" name="server-settings-USERS-ENDPOINT" value="/users/">
  <input type="hidden" name="server-settings-ACCOUNTS-ENDPOINT" value="/accounts/">

  <input type="hidden" name="server-settings-POODLE-ENDPOINT" value="{% url "api:poodle-list" %}">
  <input type="hidden" name="server-settings-PERSON-ENDPOINT" value="{% url "api:person-list" %}">


  <input type="hidden" name="server-settings-COLOR-ENDPOINT" value="{% url 'api:color-list' %}">
  <input type="hidden" name="server-settings-FILTER-ENDPOINT" value="{% url "api:filter-list" %}">
  <input type="hidden" name="server-settings-COUNTRY-ENDPOINT" value="{% url "api:country-list" %}">
  <input type="hidden" name="server-settings-TITLE-ENDPOINT" value="{% url "api:title-list" %}">
  <input type="hidden" name="server-settings-IMAGE-ENDPOINT" value="{% url 'api:image-list' %}">




</div>
{% endblock content %}

{% block after_javascript %}


<script>
  axios.defaults.headers.common['X-XSRF-cercis-TOKEN'] = '{{ csrf_token }}';
</script>
<script src="{% static 'js/vendor.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock after_javascript %}