//Bootstrap-Vue variable overrides
$custom-control-gutter: 10px !default; //$form-grid-gutter-width variable from bootstrap
$custom-control-indicator-size: 1rem !default; //bootstrap variable
$custom-control-indicator-bg-size: 50% 50% !default; //bootstrap variable
$custom-radio-indicator-border-radius: 0 !default; //$border-radius; //variable from bootstrap
$custom-control-indicator-border-width: 0 !default; //$border-radius; //variable from bootstrap

$line-height-base: 1.5 !default;
$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;

$input-btn-line-height: $line-height-base !default;
$input-btn-line-height-sm: $line-height-sm !default;
$input-btn-line-height-lg: $line-height-lg !default;


$input-line-height: $input-btn-line-height !default;
$input-line-height-sm: $input-btn-line-height-sm !default;
$input-line-height-lg: $input-btn-line-height-lg !default;


$input-height: add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
$input-height-sm: add($input-line-height-sm * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
$input-height-lg: add($input-line-height-lg * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;




$b-custom-file-line-height-lg: 1.5 !default;
$b-custom-file-line-height-sm: 0.75 !default;
$b-custom-file-padding-y-lg: 1rem;
$b-custom-file-padding-y-sm: 0.5rem;

$b-custom-file-height-inner-lg: calc(#{$b-custom-file-line-height-lg * 1rem} + #{$b-custom-file-padding-y-lg * 2}) !default;
$b-custom-file-height-inner-sm: calc(#{$b-custom-file-line-height-sm * 1rem} + #{$b-custom-file-padding-y-sm * 2}) !default;
