<b-container>
  <b-row class="d-flex align-items-center">
    <b-col cols="3">
      {$ poodle.name_registered $}
    </b-col><!-- THIS poodle -->
    <b-col>
      <b-row class="d-flex align-items-center" class="gen-2">
        <b-col>
          <single-dog v-if="poodle.sire" :poodle="poodle.sire"></single-dog>
        </b-col>
        <b-col>
          <b-row class="d-flex align-items-center" class="gen-3">
            <b-col>
              <single-dog v-if="poodle.sire.sire" :poodle="poodle.sire.sire"></single-dog>
            </b-col>
            <b-col>
              <b-row class="d-flex align-items-center" class="gen-4">
                <b-col>
                  <single-dog v-if="poodle.sire.sire.sire" :poodle="poodle.sire.sire.sire"></single-dog>
                </b-col>
                <b-col>
                  <b-row class="d-flex align-items-center" class="gen-5">
                    <b-col>
                      <single-dog v-if="poodle.sire.sire.sire.sire" :poodle="poodle.sire.sire.sire.sire"></single-dog>
                    </b-col>
                    <b-col>
                      {{ poodle.sire.sire.sire.sire.sire }}
                      <hr>
                      {{ poodle.sire.sire.sire.sire.dam }}
                    </b-col>
                  </b-row>
                  <hr>
                  <b-row class="d-flex align-items-center" class="gen-5">
                    <b-col>
                      <single-dog v-if="poodle.sire.sire.sire.dam" :poodle="poodle.sire.sire.sire.dam"></single-dog>
                    </b-col>
                    <b-col>
                      {{ poodle.sire.sire.sire.dam.sire }}
                      <hr>
                      {{ poodle.sire.sire.sire.dam.dam }}
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
              <b-row class="d-flex align-items-center" class="gen-4">
                <b-col>
                  <single-dog v-if="poodle.sire.sire.dam" :poodle="poodle.sire.sire.dam"></single-dog>
                </b-col>
                <b-col>
                  <b-row class="d-flex align-items-center" class="gen-5">
                    <b-col>
                      <single-dog v-if="poodle.sire.sire.dam.sire" :poodle="poodle.sire.sire.dam.sire"></single-dog>
                    </b-col>
                    <b-col>
                      {{ poodle.sire.sire.dam.sire.sire }}
                      <hr>
                      {{ poodle.sire.sire.dam.sire.dam }}
                    </b-col>
                  </b-row>
                  <hr>
                  <b-row class="d-flex align-items-center" class="gen-5">
                    <b-col>
                      <single-dog v-if="poodle.sire.sire.dam.dam" :poodle="poodle.sire.sire.dam.dam"></single-dog>
                    </b-col>
                    <b-col>
                      {{ poodle.sire.sire.dam.dam.sire }}
                      <hr>
                      {{ poodle.sire.sire.dam.dam.dam }}
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
              <b-row class="d-flex align-items-center" class="gen-3">
                <b-col>
                  <single-dog v-if="poodle.sire.dam" :poodle="poodle.sire.dam"></single-dog>
                </b-col>
                <b-col>
                  <b-row class="d-flex align-items-center" class="gen-4">
                    <b-col>
                      <single-dog v-if="poodle.sire.dam.sire" :poodle="poodle.sire.dam.sire"></single-dog>
                    </b-col>
                    <b-col>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.sire.dam.sire.sire" :poodle="poodle.sire.dam.sire.sire"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.sire.dam.sire.sire.sire }}
                          <hr>
                          {{ poodle.sire.dam.sire.sire.dam }}
                        </b-col>
                      </b-row>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.sire.dam.sire.dam" :poodle="poodle.sire.dam.sire.dam"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.sire.dam.sire.dam.sire }}
                          <hr>
                          {{ poodle.sire.dam.sire.dam.dam }}
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                  <hr>
                  <b-row class="d-flex align-items-center" class="gen-4">
                    <b-col>
                      <single-dog v-if="poodle.sire.dam.dam" :poodle="poodle.sire.dam.dam"></single-dog>
                    </b-col>
                    <b-col>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.sire.dam.dam.sire" :poodle="poodle.sire.dam.dam.sire"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.sire.dam.dam.sire.sire }}
                          <hr>
                          {{ poodle.sire.dam.dam.sire.dam }}
                        </b-col>
                      </b-row>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.sire.dam.dam.dam" :poodle="poodle.sire.dam.dam.dam"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.sire.dam.dam.dam.sire }}
                          <hr>
                          {{ poodle.sire.dam.dam.dam.dam }}
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row class="d-flex align-items-center" class="gen-2">
            <b-col>
              <single-dog v-if="poodle.dam" :poodle="poodle.dam"></single-dog>
            </b-col>
            <b-col>
              <b-row class="d-flex align-items-center" class="gen-3">
                <b-col>
                  <single-dog v-if="poodle.dam.sire" :poodle="poodle.dam.sire"></single-dog>
                </b-col>
                <b-col>
                  <b-row class="d-flex align-items-center" class="gen-4">
                    <b-col>
                      <single-dog v-if="poodle.dam.sire.sire" :poodle="poodle.dam.sire.sire"></single-dog>
                    </b-col>
                    <b-col>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.dam.sire.sire.sire" :poodle="poodle.dam.sire.sire.sire"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.dam.sire.sire.sire.sire }}
                          <hr>
                          {{ poodle.dam.sire.sire.sire.dam }}
                        </b-col>
                      </b-row>
                      <b-row class="d-flex align-items-center">
                        <b-col>
                          <single-dog v-if="poodle.dam.sire.sire.dam" :poodle="poodle.dam.sire.sire.dam"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.dam.sire.sire.dam.sire }}
                          <hr>
                          {{ poodle.dam.sire.sire.dam.dam }}
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                  <hr>
                  <b-row class="d-flex align-items-center" class="gen-4">
                    <b-col>
                      <single-dog v-if="poodle.dam.sire.dam" :poodle="poodle.dam.sire.dam"></single-dog>
                    </b-col>
                    <b-col>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.dam.sire.dam.sire" :poodle="poodle.dam.sire.dam.sire"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.dam.sire.dam.sire.sire }}
                          <hr>
                          {{ poodle.dam.sire.dam.sire.dam }}
                        </b-col>
                      </b-row>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.dam.sire.dam.dam" :poodle="poodle.dam.sire.dam.dam"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.dam.sire.dam.dam.sire }}
                          <hr>
                          {{ poodle.dam.sire.dam.dam.dam }}
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
              <b-row class="d-flex align-items-center" class="gen-3">
                <b-col>
                  <single-dog v-if="poodle.dam.dam" :poodle="poodle.dam.dam"></single-dog>
                </b-col>
                <b-col>
                  <b-row class="d-flex align-items-center" class="gen-4">
                    <b-col>
                      <single-dog v-if="poodle.dam.dam.sire" :poodle="poodle.dam.dam.sire"></single-dog>
                    </b-col>
                    <b-col>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.dam.dam.sire.sire" :poodle="poodle.dam.dam.sire.sire"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.dam.dam.sire.sire.sire }}
                          <hr>
                          {{ poodle.dam.dam.sire.sire.dam }}
                        </b-col>
                      </b-row>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.dam.dam.sire.dam" :poodle="poodle.dam.dam.sire.dam"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.dam.dam.sire.dam.sire }}
                          <hr>
                          {{ poodle.dam.dam.sire.dam.dam }}
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                  <hr>
                  <b-row class="d-flex align-items-center" class="gen-4">
                    <b-col>
                      <single-dog v-if="poodle.dam.dam.dam" :poodle="poodle.dam.dam.dam"></single-dog>
                    </b-col>
                    <b-col>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.dam.dam.dam.sire" :poodle="poodle.dam.dam.dam.sire"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.dam.dam.dam.sire.sire }}
                          <hr>
                          {{ poodle.dam.dam.dam.sire.dam }}
                        </b-col>
                      </b-row>
                      <b-row class="d-flex align-items-center" class="gen-5">
                        <b-col>
                          <single-dog v-if="poodle.dam.dam.dam.dam" :poodle="poodle.dam.dam.dam.dam"></single-dog>
                        </b-col>
                        <b-col>
                          {{ poodle.dam.dam.dam.dam.sire }}
                          <hr>
                          {{ poodle.dam.dam.dam.dam.dam }}
                        </b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
</b-container>